.opIocons .btn-1{
    color: #1BB0F0;
}

.opIocons .btn-2{
    color: #EC1B1B;
}

.userImg img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b button{
    padding: 1.5% 6.5% !important;
    border: none;
    border-radius: 25px;
}

@media only screen and (min-width: 301px) and (max-width: 768px) { 
    .userInfo{
        text-align: center;
    }

    .opIocons{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .b button{
        padding: 5% 20% !important;
        border: none;
        border-radius: 25px;
    }

 }