.carousels{
    width: 80% !important;
    height: 95vh;
    border: 2px #fff solid;
    margin: 10%;
    border-radius: 25px;
}

.carousel-inner{
    margin: 0;
}

.slider-btns button{
    background-color: transparent;
    border: none;
}

.searchBy{
    display: flex;
    justify-content: center;
}

.searchBy input{
    height: 45px;
    width: 80%;
    border-radius: 25px;
}

.s-btn button{
    background-color: #1BB0F0;
    color: #fff;
    border-radius: 25px;
}

.hr-line{
    width: 90%;
}

.after{
    height: 10vh;
}

@media only screen and (min-width: 301px) and (max-width: 768px) { 
    .carousels{
        width: 90% !important;
        height: 100vh;
        border: 2px #fff solid;
        margin: 5%;
        border-radius: 25px;

    }

    .s-btn{
        display: flex !important;
        justify-content: center !important;
        margin-left: 10% !important;
    }

    .users{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .slider-btns{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
 }